.#{$prefix}-action-sheet {
  &__panel {
    width: 100vw;
  }

  &__item {
    text-align: center;
    color: $action-sheet-item__color;
    background: $action-sheet-item__background;
    padding: $action-sheet-item__padding;
    font-size: $action-sheet-item__font-size;

    & + & {
      border-top: $border;
    }

    &.highlight {
      color: $action-sheet-item__highlight-color;
    }

    &.cancel {
      margin-top: 6px;
    }

    &:active {
      background: $action-sheet-item__active-background;
    }
  }
}
