.#{$prefix}-badge {
  display: inline-block;
  text-align: center;
  line-height: 1;
  padding: $badge__padding;
  font-size: $badge__font-size;
  border-radius: $badge__border-radius;
  color: $badge__color;
  background: $badge__background;
  @include default-shadow();

  &--small {
    padding: $badge-small__padding;
    font-size: $badge-small__font-size;
    border-radius: $badge-small__border-radius;
  }
  &--large {
    padding: $badge-large__padding;
    font-size: $badge-large__font-size;
    border-radius: $badge-large__border-radius;
  }

  &--primary,
  &--success,
  &--warning,
  &--danger {
    color: $color-white;
    border: none;
  }

  @include background;

  //&--primary {
  //  @include background-gradient($color-primary-1, $color-primary-2);
  //}
  //
  //&--success {
  //  @include background-gradient($color-success-1, $color-success-2);
  //}
  //
  //&--warning {
  //  @include background-gradient($color-warning-1, $color-warning-2);
  //}
  //
  //&--danger {
  //  @include background-gradient($color-danger-1, $color-danger-2);
  //}

  &--square {
    border-radius: 2px;
  }
}
