.gay-badge {
  display: inline-block;
  text-align: center;

  border-radius: 12px;
  font-size: 15px;
  padding: 2px 8px;

  color: #666;
  background: $white-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

  &--small {
    border-radius: 8px;
    font-size: 12px;
    padding: 2px 6px;
  }
  &--large {
    border-radius: 14px;
    font-size: 18px;
    padding: 2px 10px;
  }

  &--primary,
  &--success,
  &--warning,
  &--danger {
    color: $white-color;
    border: none;
  }

  &--primary {
    @include background-gradient($primary-color-1, $primary-color-2);
  }

  &--success {
    @include background-gradient($success-color-1, $success-color-2);
  }

  &--warning {
    @include background-gradient($warning-color-1, $warning-color-2);
  }

  &--danger {
    @include background-gradient($danger-color-1, $danger-color-2);
  }

  &--square {
    border-radius: 2px;
  }
}
