.gay-button {
  position: relative;
  color: $button-font-color;
  height: 50px;
  font-size: 16px;
  outline: none;
  line-height: 1;
  padding: 17px 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);


  &--default {
    color: #666;
    background: #fcfcfc;
  }

  &--primary {
    @include background-gradient($primary-color-1, $primary-color-2);
  }

  &--success {
    @include background-gradient($success-color-1, $success-color-2);
  }

  &--warning {
    @include background-gradient($warning-color-1, $warning-color-2);
  }

  &--danger {
    @include background-gradient($danger-color-1, $danger-color-2);
  }

  &--long {
    display: block;
    width: 100%;
  }

  &--small {
    height: 30px;
    padding: 9px 10px;
    font-size: 12px;
  }

  &--round {
    border-radius: 25px;
  }
}

.gay-header-left,
.gay-header-right {
  .gay-button {
    font-size: inherit;
    color: inherit;
    background: inherit;
    height: 100%;
    box-shadow: none;
  }
}

