.gay-button {
  position: relative;
  color: $button-font-color;
  height: 50px;
  font-size: 16px;
  outline: none;
  line-height: 1;
  padding: 17px 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.gay-button--default {
  color: #666;
  background: #fcfcfc;
}

.gay-button--primary {
  @include background-gradient($primary-color-1, $primary-color-2);
}

.gay-button--danger {
  @include background-gradient($danger-color-1, $danger-color-2);
}

.gay-button--long {
  display: block;
  width: 100%;
}

.gay-button--small {
  height: 30px;
  padding: 9px 10px;
  font-size: 12px;
}

.gay-button--round {
  border-radius: 20px;
}
