.#{$prefix}-cell {
  &-group {
    @include default-shadow;
    margin-bottom: 30px;
  }

  &-item {
    @include vertical-center();
    position: relative;
    background: $color-white no-repeat;
    padding-left: 16px;
    min-height: $cell-height;

    &.is-label:active {
      background: $color-active;
    }

    & + & {
      background-image: linear-gradient(90deg, transparent 0, transparent 16px, $cell-border-color 16px);
      background-size: 100% 1px;
    }

    &__content {
      flex: 1;
      justify-content: flex-end;
      height: 100%;
      @include vertical-center();

      //line-height: $cell-height;
      padding: 0 16px;
      display: flex;

      input,
      select {
        flex: 1;
        font-size: inherit;
        outline: none;
        border: none;
        background: transparent;
        text-align: $cell-content-text-align;
      }

      .icon-right {
        color: $cell-placeholder-color;
        margin-left: 16px;
      }

      input,
      textarea {
        &::-webkit-input-placeholder {
          color: $cell-placeholder-color;
        }
      }
    }
  }
}
