.#{$prefix}-radio,
.#{$prefix}-checkbox {
  &-list {
    .pm-cell-item {
      &--title,
      &--content {
        @include vertical-center;
      }

      &:active {
        background-color: $border-color;
      }
    }
  }

  @include vertical-center;

  $size: 24px;
  $disable-color: #dadada;

  height: $size;
  min-width: $size;
  line-height: $size;
  position: relative;

  &::before,
  .pm-icon {
    font-size: $size;
    width: $size;
    height: $size;
  }

  &::before {
    box-sizing: border-box;
    width: $size;
    height: $size;
    margin-right: 6px;
    border-radius: 50%;

    font-family: 'pm-icon' !important;
    content: "\e6d7";
    color: $disable-color;
  }

  .pm-icon {
    color: $color-primary-1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  & + & {
    margin-left: 15px;
  }

  > input {
    display: none;
  }

  &.checked {
    &::before {
      border-color: $color-primary-1;
    }

    .pm-icon {
      color: $color-primary-1;
    }
  }

  &.disabled {
    &::before {
      background: $border-color;
    }

    .pm-icon {
      color: $disable-color;
    }
  }

  &.checked.disabled {
    &::before {
      background: $color-white;
    }
  }
}
