.gay-header {
  @include background-gradient($primary-color-1, $primary-color-2);

  color: $navbar-font-color;
  font-size: $navbar-font-size;
  box-shadow: 0 1px 6px #ccc;
  display: flex;

  min-height: 44px;

  &.fixed {
    position: fixed;
    width: 100vw;
  }

  &-left,
  &-right{
    flex-basis: 25%;
    > * {
      padding: 0 10px;
    }
  }

  &-left,
  &-right,
  &-title {
    height: $navbar-height;
    line-height: $navbar-height;
    display: flex;
    align-items: center;
  }

  &-title {
    flex-basis: 50%;
    justify-content: center;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }
}



