.#{$prefix}-header {
  @include background-gradient($header__background-color-1, $header__background-color-2);
  @include default-shadow;
  display: flex;
  color: $header__font-color;
  min-height: $header__height;
  font-size: $header__font-size;

  &.fixed {
    position: fixed;
    width: 100vw;
  }

  &__left,
  &__right{
    flex-basis: 25%;
    > * {
      padding: 0 10px;
    }
  }

  &__left,
  &__right,
  &__title {
    display: flex;
    align-items: center;
    height: $header__height;
    line-height: $header__height;
  }

  &__title {
    flex-basis: 50%;
    justify-content: center;
  }

  &__left {
    justify-content: flex-start;
  }

  &__right {
    justify-content: flex-end;
  }
}



