.#{$prefix}-popup {
  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
  }

  &__container {
    position: fixed;
    z-index: 2;
  }

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--left {
    left: 0;
    top: 0;
    right: auto;
  }
  &--top {
    top: 0;
    bottom: auto;
  }
  &--right {
    top: 0;
    right: 0;
    left: auto;
  }
  &--bottom {
    bottom: 0;
    top: auto;
  }
}
