.#{$prefix}-rate {
  display: flex;
  font-size: 1.5em;

  .pm-icon {
    font-size: inherit;
  }

  &__icon {
    position: relative;
    margin-right: 0.5em;
  }

  &__inactive {
    color: #dadada;
  }

  &__active {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-warning-2;
  }

  &__icon.half &__active {
    width: 50%;
    overflow: hidden;
  }
}
