.#{$prefix}-swipe {
  overflow: hidden;
  height: (100*9/16)*1vw;
  position: relative;

  &__container {
    height: 100%;
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    height: 100%;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 12px 13px;
    border-radius: 50%;
    color: $color-white;

    i {
      color: rgba(255, 255, 255, .5);
      font-size: 26px;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__dots {
    position: absolute;
    bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;

    span {
      height: 12px;
      width: 12px;
      border-radius: 6px;
      background: rgba(255, 255, 255, .5);

      &.active {
        @include background-gradient($color-primary-1, $color-primary-2);
      }
    }

    span + span {
      margin-left: 6px;
    }
  }
}
