.#{$prefix}-switch {
  @include vertical-center;
  position: relative;
  height: 32px;
  width: 52px;
  padding: 0;
  margin: 4px;

  border-radius: 16px;
  box-shadow: 0 0 1px $border-color;
  justify-content: center;

  //@include background-gradient($border-color, $border-color);
  background: $border-color;
  &::before {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    opacity: 0;
    transition: opacity ease-in-out .3s;
  }

  @include background(before);

  &::before,
  &::after {
    content: ' ';
    display: block;
    position: absolute;
  }

  &::after,
  &__inner {
    transition: transform ease-in-out .3s;
    border-radius: 14px;
  }

  &::after {
    transform: scale3d(1, 1, 1);
    background: $color-white;
    width: 48px;
    height: 28px;
  }
  &__inner {
    position: absolute;
    left: 2px;
    width: 28px;
    height: 28px;
    z-index: 1;
    background: $color-white;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 12px rgba(0, 0, 0, .16), 0 3px 1px rgba(0, 0, 0, .1);
  }
  &.checked::before {
    opacity: 1;
  }
  &.checked::after {
    transform: scale3d(0, 0, 0);
  }
  &.checked &__inner {
    transform: translate3d(20px, 0, 0);
  }
}
