.gay-tabbar {
  background: $white-color;
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  &-item {
    flex: 1;
    position: relative;
    text-align: center;
    padding: 5px 5px;

    //&.dot:before {
    //  content: ' ';
    //  position: absolute;
    //  display: block;
    //  height: 6px;
    //  width: 6px;
    //  top: 10%;
    //  right: 10%;
    //  border-radius: 3px;
    //  @include background-gradient($danger-color-1, $danger-color-2);
    //}

    &.active {
      color: $primary-color-1;
      //color: $primary-color-2;
    }
  }

  .gay-icon {
    display: block;
    font-size: 26px;
    margin-bottom: 5px;
  }
}
