.#{$prefix}-tabs {
  background: $tabs-background;
  @include default-shadow();
  &__wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $tabs-bar__height;
    transition: all 500ms;
    @include background-gradient($color-primary-1, $color-primary-2);
  }

  &__nav {
    margin: 0;
    padding: 0;
    display: flex;

    &-item {
      @include vertical-center;
      justify-content: center;
      flex-shrink: 0;
      flex-grow: 1;
      position: relative;

      height: $tabs-item__height;
      min-width: 20vw;
      padding: 0 16px 2px;
      text-align: center;
      box-sizing: border-box;
      transition: all 500ms;

      &.active {
        color: $color-primary-1;
      }
    }
  }
}


