.#{$prefix}-toast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &--container {
    color: $color-white;
    background: rgba(0, 0, 0, .6);

    padding: 13px 16px;
    border-radius: 2px;

    font-size: 16px;
    text-align: center;

    display: flex;
    line-height: 20px;
  }

  &--icon {
    font-size: 20px;
    margin-right: 8px;

    &.icon-loading::before {
      $circle-width: 2px;
      content: ' ';
      display: block;
      width: 20px;
      height: 20px;
      border-top: $circle-width solid transparent;
      border-left: $circle-width solid $color-white;
      border-right: $circle-width solid $color-white;
      border-bottom: $circle-width solid $color-white;
      border-radius: 50%;
      box-sizing: border-box;
      animation: spin infinite linear 800ms;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(359deg)
  }
}
