.#{$prefix}-toast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &--container {
    color: $color-white;
    background: rgba(0, 0, 0, .6);

    padding: 13px 16px;
    border-radius: 2px;

    font-size: 16px;
    text-align: center;

    display: flex;
    line-height: 20px;
  }

  &--icon {
    font-size: 20px;
    margin-right: 8px;
  }

  &--icon + &--content {
    //margin-top: 10px;
  }
}
