{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
//    "minify"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": ["minify"],
      "plugins": []
    }
  }
}
