<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <title>pm-ui</title>

  <% if (htmlWebpackPlugin.options.production) { %>
  <link rel="stylesheet"
        href="https://unpkg.com/vue-pmui@1.0.4/dist/vue-pmui.min.css">
  <% } %>

  <% if (!htmlWebpackPlugin.options.production) { %>
  <link rel="stylesheet"
        href="//at.alicdn.com/t/font_472947_jlagze6f039grpb9.css">
  <% } %>
</head>

<body>
<div id="app"></div>
<!-- built files will be auto injected -->

<% if (htmlWebpackPlugin.options.production) { %>
<script src="https://unpkg.com/vue@2.5.2/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.min.js"></script>
<script src="https://unpkg.com/vue-pmui@1.0.4/dist/vue-pmui.min.js"></script>
<% } %>
</body>

</html>
