$prefix: 'gay';
$color-white: #fff;
$color-primary-1: #b993d6;
$color-primary-2: #8ca6db;

$color-danger-1: #fc6767;
$color-danger-2: #ec008c;

$color-success-1: #56ab2f;
$color-success-2: #a8e063;

$color-warning-1: #ffb75e;
$color-warning-2: #ed8f03;

$border-color: #ebebeb;

@mixin background() {
  &--primary {
    @include background-gradient($color-primary-1, $color-primary-2);
  }
  &--danger {
    @include background-gradient($color-danger-1, $color-danger-2);
  }
  &--success {
    @include background-gradient($color-success-1, $color-success-2);
  }
  &--warning {
    @include background-gradient($color-warning-1, $color-warning-2);
  }
}

$button-font-color: #fff;

/* Navbar */
$navbar-font-size: 16px;
$navbar-height: 44px;
// $navbar-bg: ;
$navbar-font-color: #fff;
// $navbar-padding:;

/* tabs */
$tabs-background: $color-white;

/* cell */
$cell-height: 56px;
$cell-content-text-align: right;
$cell-border-color: #dadada;
$cell-placeholder-color: #dadada;
