
$primary-color-1: #b993d6;
$primary-color-2: #8ca6db;

$danger-color-1: #e43a15;
$danger-color-2: #e65245;

$success-color-1: #56ab2f;
$success-color-2: #a8e063;

$warning-color-1: #ffb75e;
$warning-color-2: #ed8f03;

$button-font-color: #fff;

/* Navbar */
$navbar-font-size: 16px;
$navbar-height: 44px;
//$navbar-bg: ;
$navbar-font-color: #fff;
//$navbar-padding:;
