@import './variables';
@import './mixins';
@import './ripple';
@import './components/index';
@import './transitions';

a, div, ul, li, span, p, input {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}
